[Unit]
Description=Reload avellcc keyboard and lightbar state
After=multi-user.target systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/system-sleep/avellcc post boot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
