# Avell Storm 590X / Clevo - ITE IT8295 keyboard LED controller
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="8910", MODE="0666"
# Avell Storm 590X / Clevo - ITE secondary device
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="8911", MODE="0666"
